@model IEnumerable<HospitalManagementSystemMVCApp.Models.doctor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.doctor_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.doctor_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.department)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.doctor_id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.doctor_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.department)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.doctor_id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.doctor_id })
    </td>
</tr>
}

</table>
